## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [3]:
import pandas as pd

In [ ]:
# загружаем датасет
data = pd.read_csv("./data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [15]:
data.groupby(["sex"])["sex"].count()

sex
Female    10771
Male      21790
Name: sex, dtype: int64

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [24]:
data[data["sex"]=="Male"]["age"].mean()

np.float64(39.43354749885268)

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [41]:
us_percentage=len(data[data["native-country"]=="United-States"])*100/len(data)
print(f"{us_percentage:.2f} %")

89.59 %

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [42]:
# your code
more=data[data["salary"]==">50K"]["age"].std(axis=0)
less=data[data["salary"]=="<=50K"]["age"].std(axis=0)
print(more,less)

10.519027719851826 14.02008849082488

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [52]:
# your code
smart=["Bachelors","Masters","Prof-school","Assoc-acdm","Assoc-voc","Doctorate"]
smart_condition=(data["salary"]==">50K") & (data["education"].isin(smart))
not_smart_condition=(data["salary"]==">50K") & ~(data["education"].isin(smart))
print(f"people count with a degree: {len(data[smart_condition])}")
print(f"people count without a degree: {len(data[not_smart_condition])}")
# NOT True

people count with a degree: 4535
people count without a degree: 3306

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [261]:
# your code
races=data.groupby(by="race")["age"].describe().reset_index()
print(races[["max","race"]])
print(races[races["race"]=="Asian-Pac-Islander"]["max"])

    max                race
0  82.0  Amer-Indian-Eskimo
1  90.0  Asian-Pac-Islander
2  90.0               Black
3  77.0               Other
4  90.0               White
1    90.0
Name: max, dtype: float64

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [100]:
# your code
married_condition=data["marital-status"].str.contains(r"^Married")
non_married_condition=~data["marital-status"].str.contains(r"^Married")
married_rich=data[married_condition]["salary"]=="<=50K"
non_married_rich=data[non_married_condition]["salary"]=="<=50K"
print(f"Percentage of rich and married: {(sum(married_rich)*100/len(married_rich)):.1f} %")
print(f"Percentage of rich and non married: {(sum(non_married_rich)*100/len(non_married_rich)):.1f} %")

Percentage of rich and married: 56.3 %
Percentage of rich and non married: 93.6 %

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [123]:
# your code
max_hours=data["hours-per-week"].max()
terminators=data[data["hours-per-week"]==max_hours]
number_of_terminators=len(terminators)
rich_terminators=terminators[terminators["salary"]==">50K"]
print(f"""1) The highest number of hours people work in company: {max_hours}
2) The number of people who work {max_hours} hours per week: number_of_terminators
3) Percentage of people who work {max_hours} hours and earns more than 50 grands \
per month: {(len(rich_terminators)*100/number_of_terminators):.2f}""")

1) The highest number of hours people work in company: 99
2) The number of people who work 99 hours per week: number_of_terminators
3) Percentage of people who work 99 hours and earns more than 50 grands per month: 29.41

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [139]:
# your code
avg=data.groupby(by=["native-country","salary"])[["hours-per-week"]].mean()
print(avg)

                       hours-per-week
native-country salary
?              <=50K        40.164760
               >50K         45.547945
Cambodia       <=50K        41.416667
               >50K         40.000000
Canada         <=50K        37.914634
...                               ...
United-States  >50K         45.505369
Vietnam        <=50K        37.193548
               >50K         39.200000
Yugoslavia     <=50K        41.600000
               >50K         49.500000

[82 rows x 1 columns]

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [190]:
# your code
from copy import deepcopy
data_copy=deepcopy(data) # don't want to change initial dataframe
data_copy["AgeGroup"]=data["age"].apply(lambda x: "young" if x>16 and x<35 else ("adult" if x<70 else "retiree" if x<100 else "unknown"))
data_copy

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,AgeGroup
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,adult
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,adult
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,adult
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,adult
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,young
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,young
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,adult
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,adult
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K,young
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,adult

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [269]:
# your code
high_salaries=data_copy[data_copy["salary"]==">50K"].groupby(by=["AgeGroup"])["salary"].count().reset_index()
all_salaries=data_copy.groupby(by=["AgeGroup"])["salary"].count().reset_index()
print(high_salaries.rename(columns={"salary":"count"}))

age_salary=pd.merge(left=high_salaries,right=all_salaries,how="inner",left_on=["AgeGroup"],right_on=["AgeGroup"])
age_salary["percentage"]=age_salary["salary_x"]*100/age_salary["salary_y"]
age_salary[["AgeGroup","percentage"]].max()["AgeGroup"]

  AgeGroup  count
0    adult   6240
1  retiree    113
2    young   1488

'young'

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [ ]:

all_occuparions=data_copy.groupby(by="occupation")["age"].count().reset_index()
print(f"All occupations:\n{all_occuparions.rename(columns={"age":"count"})}")
def filter_func(all_occuparions):
    filter_arr=data_copy.groupby(by="occupation")["age"].mean().reset_index()
    # print(filter_arr)
    final=pd.merge(left=all_occuparions,right=filter_arr,on="occupation")
    return final[final["age_y"]<40][["occupation","age_x"]].rename(columns={"age_x":"count"})

print(f"All ocupations where average is lower than 40:\n{filter_func(all_occuparions)}")

All occupations:
           occupation   age
0                   ?  1843
1        Adm-clerical  3770
2        Armed-Forces     9
3        Craft-repair  4099
4     Exec-managerial  4066
5     Farming-fishing   994
6   Handlers-cleaners  1370
7   Machine-op-inspct  2002
8       Other-service  3295
9     Priv-house-serv   149
10     Prof-specialty  4140
11    Protective-serv   649
12              Sales  3650
13       Tech-support   928
14   Transport-moving  1597
All ocupations where average is lower than 40:
           occupation  count
1        Adm-clerical   3770
2        Armed-Forces      9
3        Craft-repair   4099
6   Handlers-cleaners   1370
7   Machine-op-inspct   2002
8       Other-service   3295
11    Protective-serv    649
12              Sales   3650
13       Tech-support    928